.navigation {
}

.navigation__nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.navigation__nav-link {
  display: block;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition-duration: 1s;
  background-color: @color-black;

  &:hover,
  &:focus {
    position: relative;
    color: @color-black;
    background-color: @color-pumpkin;

    &::before {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 0;
      content: "";
      width: 10px;
      height: 2px;
      background-color: @color-black;
    }

    &::after {
      position: absolute;
      z-index: 2;
      top: 50%;
      right: 0;
      content: "";
      width: 10px;
      height: 2px;
      background-color: @color-black;
    }
  }
}
